

body{
  background-color:#f8fafc;
  margin: 0px;
  padding: 0px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.header{
  background-color: #334155;
  display: flex;
  justify-content: center;
  color:white;
}

.main{
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  margin: 2vh;
}
.inputInfo{
  width: 45vw;
  height: 100%;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap:2vh;
  background-color: #e2e8f0;
}
/* style for the input forms */
form{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
form input{
  width: 80%;
  margin: 1vh;
  padding: 1.5vh;
  border-radius: 5px;
  border: 1px white solid;
  background-color: white;
}

form .saveDelete{
  display: flex;
  justify-content: space-between;
  width: 83%;
}
.saveDelete button{
  width: 48%;
  margin: 1vh 0vh;
  padding: 1.5vh;
  border-radius: 5px;
  border: 1px white solid;
}
.saveDelete button:hover{
  width: 48%;
  margin: 1vh 0vh;
  padding: 1.5vh;
  cursor: pointer;
  border-radius: 5px;
  border: 1px white solid;
  color: white;

}

.saveDelete .save{
  background-color: #4ade80;
}

.saveDelete .delete{
  background-color: #ef4444;
}
form .add{
  width: 83%;
  margin: 1vh;
  padding: 1.5vh;
  background-color: #334155;
  color: white;
  border-radius: 5px;
  

}
form .add:hover{
  width: 83%;
  margin: 1vh;
  padding:1.5vh;
  background-color: #334155;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  

}

/* css for the resume file */
.resume{
  width: 45vw;
  height: 100vh;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  
  border: 2px #334155 solid;
}

.nameJob{
  text-align: center;
}


.contactInfo h2{
  background-color: #334155;
  background-size: cover;
  padding: 1vh 3vh;
  color: white;
}
.label {
  display: inline-block;
  width: 20vw ;
  font-weight: bold;
  margin-left: 3vh;
}

.workInfo h2{
  background-color: #334155;
  background-size: cover;
  padding: 1vh 3vh;
  color: white;
}
.workDetail{
  padding-left: 3vh;
}

.workDetail .workTime{
  display: inline-block;
  width: 3vw;
  text-align: center;
}

.educationInfo h2{
  background-color: #334155;
  background-size: cover;
  padding: 1vh 3vh;
  color: white;
}
.educationInfo .eduDetail{
  padding-left: 3vh;
}
.eduDetail .eduTime{
  display: inline-block;
  width: 3vw;
  text-align: center;
}


@media screen and (max-width: 500px) {
  .main{
    display: grid;
    grid-template-columns: 100vw;
    gap: 2vh;
    margin: 2vh;
  }
  .inputInfo{
    width: 90vw;
    height: 100%;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  .resume{
    width: 90vw;
    height: 100vh;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
}